body {
	  font-family: "Lato", Helvetica, Arial, sans-serif;
}

h1, p {
	text-align: center;
}

.navbar-inverse {
  background-color: #6F646A;
  border-color: #fff;
  border-bottom-width: 5px;
}

.navbar-inverse .navbar-brand {
  color: #fff;
 }

 .navbar-brand {
  float: left;
  height: 50px;
  padding: 11px 15px;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
}

.jumbotron {
  color: #ccc;
  background-color: #36d;
}

.row {
	text-align: center;
	display: none;
}

.button-selected {
	background-color: hsl(0, 0%, 90%);
}

#submitButton {
	margin-top: 20px;
	text-align: center;
}

.stories iframe {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}